<!DOCTYPE html>
<html>
<head>
    {include file='common/meta'/}
</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">
    <!-- 内容包装器。包含页面内容 -->
    <div class="content-wrapper">
        <!--主要内容-->
        <section class="content">
            {__CONTENT__}
        </section>
    </div>

    <!-- 控制侧栏 -->
    <aside class="control-sidebar control-sidebar-dark">
        <!--控制侧边栏内容在这里 -->
    </aside>
    <!-- /.控制侧栏 -->
</div>
<!-- ./wrapper -->
{include file='common/script'/}
</body>
</html>