<!doctype html>
<html class="no-js" lang="en">
<head>
    {include file='common/meta'/}
    <link rel="stylesheet" href="__CSS__/login.css">
    <style>
        .form-group {
            margin-bottom: 2.25em;
        }
        .captcha {
            width: 65%;
        }
        .captcha-img {
            width: 30%;
            height: auto;
            min-height: 35px;
        }
    </style>
</head>
<body>
<div class="auth-wrapper">
    <div class="container-fluid h-100">
        <div class="row flex-row h-100 bg-white">
            <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                <div class="lavalite-bg">
                    <div class="lavalite-overlay"></div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                <div class="authentication-form mx-auto">
                    <div class="logo-centered">
                        <a href="/"><img src="__BACKEND_SOURCE__/img/logo.svg" alt=""></a>
                    </div>

                    <form class="form-horizontal" data-toggle="validator" method="POST" role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="user_name" data-rule="required"
                                   data-control-label="用户名" placeholder="用户名"
                                   value="">
                            <i class="ik ik-user"></i>
                        </div>
                        <div class="form-group">

                            <input type="password" class="form-control" name="password" data-rule="required"
                                   data-control-label="密码" placeholder="密码"
                                   value="">
                            <i class="ik ik-lock"></i>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control captcha" name="captcha" data-rule="required"
                                   data-control-label="验证码" placeholder="验证码"
                                   value="">
                            <i class="ik ik-more-horizontal"></i>
                            <img src="{:captcha_src()}" class="captcha-img" onclick="this.src='/captcha.html/s/'+Math.random()">
                        </div>
                        <div class="form-group">

                        </div>
                        <div class="row">
                            <div class="col text-left">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="item_checkbox"
                                           name="keep_login" value="1">
                                    <span class="custom-control-label">&nbsp;记住我</span>
                                </label>
                            </div>
                            <div class="col text-right">
                                <a href="">忘记密码 ?</a>
                            </div>
                        </div>
                        <div class="sign-btn text-center ">
                            <button class="btn btn-theme " type="submit">登录</button>
                        </div>
                    </form>
                    <div class="register">
                        <p><a href=""></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__JS__/login.bundle.js"></script>
</body>
</html>
