<!doctype html>
<html class="x-admin-sm">
<head>
    {include file='common/meta'/}
    <link rel="stylesheet" href="__CSS__/login.css">
</head>
<body class="login-bg">
<div class="login layui-anim layui-anim-up">
    <div class="message">傲杰后台管理系统</div>
    <div id="darkbannerwrap"></div>
    <!--<img id="profile-img" class="profile-img-card" src="__BACKEND_SOURCE__/images/avatar.png">-->
    <form class="layui-form form-horizontal" data-toggle="validator" method="POST" role="form">
        <div class="layui-form-item">
            <input name="user_name" placeholder="用户名" data-form-label="用户名" type="text" data-rule="required" class="layui-input">
        </div>
        <hr class="hr15">
        <div class="layui-form-item">
            <input name="password" placeholder="密码" data-form-label="密码" data-rule="required" type="password" class="layui-input">
        </div>
        <hr class="hr15">
        <div class="layui-form-item">
            <input name="captcha" placeholder="验证码" data-form-label="验证码" data-rule="required" type="text" class="layui-input" id="captcha">
            <img src="{:captcha_src()}" class="captcha-img" id="captcha-img" onclick="this.src='/captcha.html/s/'+Math.random()">
        </div>
        <hr class="hr15">
        <div class="layui-form-item">
            <input type="checkbox" name="keep_login" title="记住我，下次直接登录" value="1" lay-skin="primary">
        </div>
        <hr class="hr15">
        <input value="登录" style="width:100%;" type="submit">
        <hr class="hr15">
    </form>
</div>
<script src="__JS__/login.bundle.js"></script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e5978f354aedf1b283dcecd75c9f8a4b";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>