<!doctype html>
<html class="no-js" lang="en">
<head>
    {include file='common/meta'/}
    {block name='css'}

    {/block}
    <script src="__BACKEND_SOURCE__/common/js/modernizr-2.8.3.min.js"></script>
</head>

<body>
{include file='common/chrome_update'/}

<div class="wrapper">
    {include file='common/header'/}
    <div class="page-wrap">
        {include file='common/menu'/}
        <div class="main-content">
            {block name='content'}
            
            {/block}
        </div>
        <footer class="footer">
            <div class="w-100 clearfix">
                <span class="text-center text-sm-left d-md-inline-block">Copyright © 2020 Aojie v2.0.版权所有.</span>
            </div>
        </footer>
    </div>
</div>

</body>
</html>

{block name='js'}

{/block}
{include file='common/script'/}
