<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>登录| ThemeKit-管理模板</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="../favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="__BACKEND_COMMON__/css/backend.css">

<!--<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">-->

<!--<link rel="stylesheet" href="../static/admin/plugins/bootstrap/dist/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">-->
<!--<link rel="stylesheet" href="../plugins/ionicons/dist/css/ionicons.min.css">-->
<!--<link rel="stylesheet" href="../plugins/icon-kit/dist/css/iconkit.min.css">-->
<!--<link rel="stylesheet" href="../plugins/perfect-scrollbar/css/perfect-scrollbar.css">-->
<!--<link rel="stylesheet" href="../dist/css/theme.min.css">-->
<script src="__BACKEND_COMMON__/js/modernizr-2.8.3.min.js"></script>

<script type="text/javascript">
    var require = {config: {$config | json_encode}}
</script>