/*body.index{background:rgba(0, 0, 0, 1) !important;}.container{background: linear-gradient(to left,rgba(208, 123, 123, 1), rgba(0, 0, 0, 0.87)) !important;}.container .layui-nav-bar{background:rgba(255, 255, 255, 1) !important;}.container .logo a{background:rgba(0,0,0,0) !important;}.container .logo a{color:rgba(255, 0, 0, 1) !important;}.left-nav{background:rgba(0, 0, 0, 0.92) !important;}.left-nav a{color:rgba(255, 255, 255, 1) !important;}.left-nav a:hover,.left-nav a.active{background: linear-gradient(to left,rgba(0, 0, 0, 0.96), rgba(129, 21, 201, 0.88)) !important;}.left-nav a:hover,.left-nav a.active{color:rgba(255, 255, 255, 1) !important;}.left-nav a:hover,.left-nav a.active{border-color:rgba(255, 255, 255, 1) !important;}body{background:rgba(0, 0, 0, 1) !important;}*/
@import "xadmin.css";

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


.layui-form-item.has-success label {
    color: #18bc9c;
}

.layui-form-item.has-success .layui-input,
.layui-form-item.has-success .input-group-addon {
    border-color: #18bc9c;
    box-shadow: none;
}

.layui-form-item.has-success .help-block {
    color: #18bc9c;
}

.layui-form-item.has-warning label {
    color: #f39c12;
}

.layui-form-item.has-warning .layui-input,
.layui-form-item.has-warning .input-group-addon {
    border-color: #f39c12;
    box-shadow: none;
}

.layui-form-item.has-warning .help-block {
    color: #f39c12;
}

.layui-form-item.has-error label {
    color: #e74c3c;
}

.layui-form-item.has-error .layui-input,
.layui-form-item.has-error .input-group-addon {
    border-color: #e74c3c;
    box-shadow: none;
}

.layui-form-item.has-error .help-block {
    color: #e74c3c;
}

form.lyui-form .control-label {
    font-weight: normal;
}

.toolbar a {
    text-align: center;
}

.container .logo a {
    text-align: center;
}

.container .logo img {
    width: 100%;
    height: 45px;
}